<div class="hook">
	<h1 class="hidden-desktop hidden-tablet" id="fit-text-heading">{{url_partial}}</h1>
	<p class="lead-alt">Les <strong>meilleurs tarifs</strong> accessibles en moins de <strong>deux minutes</strong> avec une gamme de formules sur-mesure.</p>
	<img src="img/arrow-big.png" alt="" class="big-arrow hidden-phone">
</div>

<ul class="fill-steps unstyled">
	<li class="fill-step"><span class="step">1</span>Je remplis ce formulaire <span class="text-info">en moins de deux minutes</span></li>
	<li class="fill-step"><span class="step">2</span>J'affiche les tarifs et je compare les offres</li>
</ul>

<div class="thumbnail hidden-phone">
	<img src="img/animaux.jpg" alt="{{aside_img_alt}}">
	<div class="caption">							
		<h3>{{caption_h3}}</h3>
		<h4 class="muted">{{caption_h4}}</h4>
	</div>
</div>