		
</div>
<!-- END main container -->

	<div class="footer-container">
		<div class="container">
			<footer class="row-fluid">
				<p>&copy; {{CurrentYear}} {{url_partial}} &mdash; <a href="#mentions-legales" data-toggle="modal">Mentions légales</a> &mdash; <a href="/blog">Blog</a></p>
			</footer>
		</div>
	</div>
	
	<div class="modal hide fade" id="mentions-legales">
		<div class="modal-body">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<p><img src="img/ml.png" alt="mentions legales"></p>
		</div>
	</div>
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="js/plugins.min.js"></script>
	<script src="js/template.js"></script>
	<script src="js/app.js"></script>
</body>
</html>